body {
    padding-bottom: 20px;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
#desc {
  padding-right: 10%;
  padding-left: 10%;
  font-size: large;
  color: white;
}
#desch1 {
  padding-right: 10%;
  padding-left: 10%;
  font-size: xx-large;
  color: white;
}

#particles-js {
      position: absolute;
      width: 100%;
      
      z-index: -1;
      background-color: #2C2F33;
      background-image: none;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
}


li {
  list-style-type: none;
}

.card-img {
  width: 100%;
  height: 100%;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-color: red;
  border-width: 10px;
  border-style: solid;
  border-radius: 30%;
}

.searchbar {
  outline: none;
  size: 1000%;
  border-radius:0px;
  border-width:0px;
  margin-top: 1%;
  margin-left: 6%;
  padding-left: 0%;
  width:88%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.hof {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.myCard{
  display:block;
}


.card-img {
  position: absolute;
  top: 0;
}

.card a {
  position: relative;
  padding-top: 100%;  
}
.myCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.myCard img {
  width:10%

}

